.index-stock-page {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  /* border: .25rem solid #232a2f; */
  padding-bottom: 3rem;
  
}

.index-stock-page .content {
  flex: 1;
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;
}

.index-stock-page header {
  width: 100%;
  padding: 1rem;
  /* padding-left:.2rem;
  padding-right:.2rem; */
  /* text-align: right; */
  border-bottom: .25rem solid #070808;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.index-stock-page header h3 {
  font-size: 1.25rem;
  font-weight:300;
}

header span.positive {
  font-size: 1em;
  
}


.index-stock-page.loader {
  justify-content: center;
}

.index-stock-page.loader .aspect-ratio {
  position: relative;
  width: 100%;
  width: min(100vmin, 600px);
  height: 100%;
  height: min(100vmin, 600px);
  padding: 0;
}

.index-stock-page.loader .aspect-ratio .aspect-ratio-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5vmin;
}

.error {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  color: #C33030;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
}

.positive {
  background: -webkit-linear-gradient(#3BB143, #006400);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 0.8em;
  font-weight: normal;
  margin-top: .2em;
}



.negative {
  color: #C33030;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.clickable {
  cursor: pointer !important;
  
}

.row ~ .row {
  /* border-top: .25rem solid #232a2f; */
  /* border-bottom: .25rem solid #232a2f; */
  border-radius: 1rem;
  /* border-left: .25rem solid #232a2f; */
  /* border-right: .25rem solid #232a2f; */
  background-color: #000000;
  background-image: linear-gradient(
147deg
, #0d0d0d 0%, #070808 80%);
  border-left: none;
  border-top:none;
  border-right: none;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  margin: .5em;
  box-shadow: -1px 5px 5px 2px #1c1c1c;
  margin-top: 1.5em;
  padding-top: .5em;
}

.profit-wrapper
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: .25em;
  padding-left: .8em;
  padding-right: .8em;
}

.profit-word {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: .85em;

}

.min-max-profit {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1.25em; 
  padding-left: .25em;
  font-size: 1.3em;
  align-items: baseline;
}

.min-max-profit .positive {
  font-size: .9em;
}

.min-max-divider {
  /* padding-top: .25em; */
  padding-left:.25em;
  padding-right:.25em;
}

.row .row {
  border: 0;
}

.column {
  flex: 1;
}

.column.align-right {
  text-align: right;
}

.column.align-center {
  text-align: center;
}

.column.left {
    /* border-image: radial-gradient(closest-side,grey,transparent) 1 100%;
    border-right: none;
    border-left: none; */
    flex: 2.2 1;

}

.column.left .row {
  height: 100%;
  align-items: center;
}

@media (max-width: 500px) {
  .column.left {
    flex: 1.25;
  }

  .column.left .row {
    flex-flow: column;
    align-items: flex-start;
  }

  .column.left .row .column {
    text-align: left;
  }
}

.column.right {
  flex: 1;
  font-size: .9rem;
  background-image: linear-gradient(
    147deg
    , #28282b 0%, #1c1c1e 20%);
  border-radius: 1em;
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly; */
  
  /* border: 1em; */
}

.column.right ul {
  display: flex;
  padding: 0.25rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  flex-direction: column;
  justify-content: space-evenly;

}
.option-display {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: .5em;
}

.option-info-type {
  font-size: 0.65rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 0.01rem;
  font-weight: 325;
}

.column.right ul .option-info-point-one {
  padding-left: .5rem;
  padding-top: .3rem;
  padding-bottom: .3rem;
  padding-right: .5rem;
  white-space: nowrap;
  border-radius: .25em;
  margin: .3em;
  margin-top:.05em;
  margin-bottom: 0.05em;
  margin-left:0px;
  margin-right:0px;
  background-color: #2b2b2b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.column.right ul .option-info-point-two {
  padding-left: .5rem;
  border-radius: .25em;
  padding-top: .3rem;
  padding-bottom: .3rem;
  padding-right:.5rem;
  white-space: nowrap;
  margin: .3em;
  margin-top:0.05em;
  margin-bottom: 0.05em;
  margin-left:0px;
  margin-right:0px;
  background-color: #252526;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.option-info-point-one .positive {
  font-size: .95em;
}

.value-group {
  letter-spacing: .15em;
  padding: .25rem .5rem;
  font-weight: bold;
  font-size: .9rem;
  white-space: nowrap;
}

.stock-and-price {
  display: flex;
  flex-direction: row;
  text-shadow:.3px .3px .3px #fff;


}

.stock-and-price .positive{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: .85em;
  padding-left: .5em;
  text-shadow: none;
}

.stock-and-price .negative{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: .85em;
  padding-left: .5em;
}

.requirement-wrapper {
  padding: .325rem .325rem;
  padding-left: .8em;
  padding-top: .75em;
  padding-right: .8em;
  text-align: right;
  /*  */
  border-right: none;
  border-left: none;
  /* border-image: linear-gradient( grey, rgba(0, 0, 0, 0) ) 1 100%; */
  font-size: .9rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.requirement {
  font-size: .65em;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
}

.requirement-price {
  font-size: .95em;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
}



.row.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  height: 3rem;
  width: 100%;
}

.column.btn {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: #1c1b1b;
  border: .125rem solid #1c1b1b;
  border-top: .25rem solid #1c1b1b;
  color: grey;
  font-weight: 300;
}

.column.btn:disabled {
  background: #393636;
  color: white;
  cursor: not-allowed;
  border-color: #393636;
}

.retry {
  margin: 1rem 0;
  display: block;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  color: #FFFFFF;
  background: #2766A7;
  padding: 12px 8px;
  text-align: center;
  border-radius: .25rem;
  font-weight: bold;
}

.options-contract {
  margin-bottom: .5em;
}